@using UOB.PVD.CMS.Resources
@{
    ViewData["Title"] = "list";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-inline">
                                    <input class="form-control mr-1" id="search_text">
                                    <button class="btn btn-primary space-10" id="btn_search"> <i class="fas fa-search"></i> @Messages.btn_search</button>
                                    <button class="btn btn-warning space-10" id="btn_clear"> @Messages.btn_clear </button>
                                </div>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary float-right space-10 " href="@Url.Action("index","Banner")"> <i class="fas fa-plus"></i> @Messages.btn_create  </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-datatable">
                        <div style="overflow-x:auto;">
                            <table class="dt-banner table">
                                <thead>
                                    <tr>
                                        <th width="50px">@Messages.bannerlist_datatable_col_no</th>
                                        <th width="90px">@Messages.bannerlist_datatable_col_image</th>
                                        <th>@Messages.bannerlist_datatable_col_title_th</th>
                                        <th>@Messages.bannerlist_datatable_col_title_en</th>
                                        <th width="150px">@Messages.bannerlist_datatable_col_status</th>
                                        <th width="100px"> </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var table = $('.dt-banner').DataTable({
            "ajax": {
                "url": '@Url.Action("GetList", "Banner")',
                "data": function (param) {
                    param.search_text = $("#search_text").val()
                },
                "type": "POST",
                "datatype": "json",
                "async": false,
                "dataSrc": function (json) {

                    if (json.statusCode === 401) {
                        window.location.href = "@Url.Action("login", "Account")";
                        return false
                    }
                    if (json.result == 'fail') {
                        Swal.fire({
                            icon: 'error',
                            text: json.message,
                        })
                    }

                    json.draw = json.data.draw;
                    json.recordsTotal = json.data.recordsTotal;
                    json.recordsFiltered = json.data.recordsFiltered;

                    return json.data.data;

                },
                "error": function (error) {
                    Swal.fire({
                        icon: 'error',
                        text: error,
                    })
                }
                @*"statusCode": {
                    401: function (xhr, error, thrown) {
                        console.log("xhr", xhr)
                        console.log("error", error)
                        console.log("xhr", xhr)
                        alert(401)
                        window.location.href = "@Url.Action("Home", "Account")";
                        return false
                    }
                }*@

            },
            "ordering": false,
            "bFilter": false,
            "pagingType": "full_numbers",
            "processing": false,
            "serverSide": true,
            "lengthChange": false,
            "iDisplayLength": "10",
            "columns": [
                { "data": "rowindex" },
                { "data": "vdo" },
                { "data": "title_th" },
                { "data": "title_en" },
                { "data": "status" },
                { "data": "banner_seq" },
            ],
            "columnDefs": [
                {
                    "targets": 1,
                    "className": "text-left",
                    "data": "vdo",
                    "render": function (data, type, row, meta) {
                        let vdo = `<video width="190px" id="VideoPlayer816" controls="true" >
                                            <source src="${row.vdo}">
                                        </video>`
                        return vdo

                    }
                },
                 {
                    "targets": 4,
                    "className": "text-left",
                     "data": "status",
                     "render": function (data, type, row, meta) {
                         switch (data) {
                             case '1':
                                 return `<span class="badge badge-pill badge-success">${row.status_name}</span>`;
                                 break;
                             case '0':
                                 return `<span class="badge badge-pill badge-warning">${row.status_name}</span>`;
                                 break;
                             case '2':
                                 return `<span class="badge badge-pill badge-warning">${row.status_name}</span>`;
                                 break;
                         }


                    }
                },
                {
                    "targets": 5,
                    "className": "text-left",
                    "data": "banner_seq",
                    "render": function (data, type, row, meta) {

                        return `<div style="display: flex;">
                                    <a href="@Url.Action("index", "Banner")?id=${data}" class="space-10 btn btn-info btn-icon btn-sm">@Messages.btn_view_detail </a>
                                    <button type="button" class="btn btn-danger  btn-sm" onclick="deleteBanner('${data}')">@Messages.btn_delete</button>
                                </div>`;
                    }
                }
            ],
            "language": {
                "emptyTable": "@Messages.Datatable_language_emptyTable",
                "info": "@Messages.Datatable_language_info",
                "infoEmpty": "@Messages.Datatable_language_infoEmpty",
                "infoFiltered": "@Messages.Datatable_language_infoFiltered",
                "thousands": "@Messages.Datatable_language_thousands",
                "loadingRecords": "@Messages.Datatable_language_loadingRecords",
                "processing":"@Messages.Datatable_language_processing",
                "zeroRecords": "@Messages.Datatable_language_zeroRecords",
                "paginate": {
                    "first":  "@Messages.Datatable_language_paginate_First",
                    "last":  "@Messages.Datatable_language_paginate_Last",
                    "next":  "@Messages.Datatable_language_paginate_Next",
                    "previous":  "@Messages.Datatable_language_paginate_previous",
                },
            }
        });
        $("#btn_search").click(function () {
            table.ajax.reload();
        });
        $("#btn_clear").click(function () {
            $('#search_text').val(null);
            table.ajax.reload();
        });

        function deleteBanner(param) {


            if (param) {
                Swal.fire({
                    text: unicodeToChar('@Messages.confirm_delete'),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let uri = '@Url.Action("Delete", "Banner")';//default to function add
                        let data = {
                            banner_seq: param,
                        };
                        $.ajax({
                            type: "POST",
                            url: uri,
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: "json",
                            success: function (response) {
                                if (response.message == "success") {
                                    Swal.fire(
                                         unicodeToChar("@Messages.success"),
                                        '',
                                        'success'
                                    )
                                    table.ajax.reload();
                                }
                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        text: response.message,
                                    })
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: '@Messages.message_error',
                                    text: error,
                                })
                            }
                        });

                    }
                })
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: '@Messages.message_error',
                    text: error,
                })
            }

        }

    </script>
}