@using UOB.PVD.FRONT.Resources
@model UOB.PVD.Model.FrontEnd.FrontEndSheet
<div class="pvd-fact-sheet-title">
    <h1> @Messages.Sheet_Message_1 </h1>
</div>
<!-- End Fact Sheet PVD Title -->
<!-- Begin Accordion -->
<div class="accordion" id="accordionPVDFactSheet">
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="uobmf">
            <button class="accordion-button relative flex items-center w-full py-4 px-10 md:px-20 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-1"
                    aria-expanded="true"
                    aria-controls="collapse-1">
                @Messages.Sheet_Message_2 
            </button>
        </h2>
        <div id="collapse-1"
             class="accordion-collapse collapse show"
             aria-labelledby="uobmf">
            <div class="accordion-body">
                <!-- Begin List Download -->
                <div class="text-gray-900">
                    @foreach (var items in Model.ChartFile)
                    {
                    <a href="@items.chart_file_url" target="_blank"
                       class="inline-flex relative items-center py-2 px-4 w-full text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <div class="title-factsheet">@items.chart_title</div><span class="i-download download_btn"></span>
                    </a>
                    }
 
                </div>
                <!-- End List Download -->
            </div>
        </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="invc">
            <button class="accordion-button collapsed relative flex items-center w-full py-4 px-10 md:px-20 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-2"
                    aria-expanded="false"
                    aria-controls="collapse-2">
                @Messages.Sheet_Message_3  
            </button>
        </h2>
        <div id="collapse-2"
             class="accordion-collapse collapse"
             aria-labelledby="invc">
            <div class="accordion-body">
                <!-- Begin List Download -->
                <div class="text-gray-900">
                    @foreach (var item in Model.UOBMasterFund)
                    {
                    <a href="@item.url"
                       class="inline-flex relative items-center py-2 px-4 w-full text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <div class="title-factsheet">@item.policy_title</div><span class="i-download download_btn"></span>
                    </a>
                    }
                </div>
                <!-- End List Download -->
            </div>
        </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="smk-1">
            <button class="accordion-button collapsed relative flex items-center w-full py-4 px-10 md:px-20 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-3"
                    aria-expanded="false"
                    aria-controls="collapse-3">
                @Messages.Sheet_Message_4    
            </button>
        </h2>
        <div id="collapse-3"
             class="accordion-collapse collapse"
             aria-labelledby="smk-1">
            <div class="accordion-body">
                <!-- Begin List Download -->
                <div class="text-gray-900">
                    @foreach (var item in Model.Smk1)
                    {
                    <a href="@item.smk_file_url"
                       class="inline-flex relative items-center py-2 px-4 w-full text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <div class="title-factsheet">@item.smk_file_title</div><span class="i-download download_btn"></span>
                    </a>
 
                    }

                </div>
                <!-- End List Download -->
            </div>
        </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="smk-2">
            <button class="accordion-button collapsed relative flex items-center w-full py-4 px-10 md:px-20 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-4"
                    aria-expanded="false"
                    aria-controls="collapse-4">
                @Messages.Sheet_Message_6  
            </button>
        </h2>
        <div id="collapse-4"
             class="accordion-collapse collapse"
             aria-labelledby="smk-2">
            <div class="accordion-body">
                <!-- Begin List Download -->
                <div class="text-gray-900">
                    @foreach (var item in Model.Smk2)
                    {
                    <a href="@item.smk_file_url"
                       class="inline-flex relative items-center py-2 px-4 w-full text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <div class="title-factsheet">@item.smk_file_title</div><span class="i-download download_btn"></span>
                    </a>

                    }
                </div>
                <!-- End List Download -->
            </div>
        </div>
    </div>
</div>