
@model UOB.PVD.Model.ESG.FrontEnd.FrontEndArticleDetailModel
@using UOB.ESG.FRONT.Resources
@{
    ViewData["Title"] = "Article";
}

<div class="article-banner" style="background-image: url('@Url.Content("~/assets/images/article-bg.png")') "></div>

<section class="article-container" id="app">
    <div class="container">
        <div class="article-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index","Home")">หน้าแรก</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Html.Raw(Model.title)</li>
                </ol>
            </nav>
            <h3 class="article-title">
                @Html.Raw(Model.title)
            </h3>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-6">
                    <h3>By admin &nbsp;<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>&nbsp;@Html.Raw(Model.str_publish_date)</h3>
                </div>
                <div class="col-12 col-md-6 col-xl-3 offset-xl-3">
                    <div class="row social-icon">
                        <div class="col-2 offset-md-1">share:</div>
                        <div class="col-2 col-md-3 d-flex justify-content-center">

                            <a href="#" aria-label="facebook" onclick="FacebookButton('@Model.thisURL')">
                                <img src="@Url.Content("~/assets/images/fb.png")" style="width:32px; height:32px" />
                            </a>
                        </div>
                        <div class="col-2 col-md-3 d-flex justify-content-center">
                            <a href="#" aria-label="twitter" onclick="TwitterButton('@Model.thisURL')">
                                <img src="@Url.Content("~/assets/images/twitter.png")" alt="twitter" style="width:32px; height:32px" />

                            </a>
                        </div>
                        <div class="col-2 col-md-3 d-flex justify-content-center">
                            <a href="#" aria-label="line" onclick="LineButton('@Model.thisURL')">
                                <img src="@Url.Content("~/assets/images/line.png")" alt="line" style="width:32px; height:32px" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-details">
            @Html.Raw(Model.text)
        </div>
        <hr class="article-line" />
        <div class="row">
            <div class="col-12">
                <h3 class="article-td">
                    ข้อสงวนสิทธิ์และคำเตือนเกี่ยวกับความเสี่ยงในการลงทุน
                </h3>
                <p>
                    บริษัทหลักทรัพย์จัดการกองทุน ยูโอบี (ประเทศไทย) จากัด
                    (“บริษัทจัดการ”)
                    จัดทาเอกสารฉบับนี้ขึ้นเพื่อวัตถุประสงค์ในการเผยแพร่
                    ข้อมูลเป็นการทั่วไป
                    โดยไม่มุ่งหมายให้ถือเป็นคาเสนอหรือการเชิญชวนให้บุคคลใดทาการซื้อ
                    และ/หรือ ขายผลิตภัณฑ์ด้านการลงทุน ประเภทต่าง ๆ
                    ตามที่ปรากฏในในเอกสารฉบับนี้
                    และไม่ถือเป็นการให้คาปรึกษาหรือคาแนะนาเกี่ยวกับการทาธุรกรรมที่เกี่ยวข้องกับ
                    ผลิตภัณฑ์ด้านการลงทุนของบริษัทต่างๆ
                    ตามที่ระบุไว้ในเอกสารนี้แต่อย่างใด
                    แม้บริษัทจัดการจะได้ใช้ความระมัดระวังตามสมควร
                    เพื่อให้ข้อมูลดังกล่าวมีความถูกต้องและตรงกับวัตถุประสงค์ของการจัดทาเอกสารนี้
                    บริษัทจัดการและพนักงานของบริษัทจัดการไม่มี
                    ความรับผิดและจะไม่รับผิดสาหรับความผิดพลาด ความไม่ถูกต้อง
                    หรือการตกหล่นของข้อมูลใดๆ ที่เกิดขึ้นไม่ว่าด้วยเหตุใดก็ตาม
                    รวมทั้งจะไม่รับผิดสาหรับการกระทาใดๆ
                    ที่เกิดขึ้นบนพื้นฐานของความเห็นหรือข้อมูลที่ปรากฏอยู่ในเอกสารฉบับนี้
                    บริษัทจัดการไม่ได้ ให้คารับรองหรือรับประกัน
                    ไม่ว่าโดยชัดแจ้งหรือโดยปริยาย เกี่ยวกับความถูกต้อง แม่นยา
                    น่าเชื่อถือ ทันต่อเหตุการณ์ หรือความ
                    สมบูรณ์ของข้อมูลดังกล่าวในกรณีใดๆ ทั้งสิ้น
                    และบริษัทจัดการขอปฏิเสธความรับผิดทั้งปวงที่เกิดหรืออาจเกิดขึ้นในทุกกรณี
                    ทั้งนี้ ความเห็น บทวิเคราะห์ หรือการคาดคะเนต่างๆ
                    เกี่ยวกับเหตุการณ์หรือผลการดาเนินงานในอนาคตที่ปรากฏในเอกสารนี้
                    (ซึ่งรวมถึง แต่ไม่จากัดเพียงข้อมูลเกี่ยวกับประเทศ เศรษฐกิจ ตลาด
                    หรือบริษัทต่างๆ)
                    ไม่ถือเป็นเครื่องยืนยันและอาจแตกต่างจากเหตุการณ์หรือ
                    ผลประกอบการที่เกิดขึ้นจริงได้
                    ผลการดาเนินงานของกองทุนหรือบริษัทจัดการในอดีต/ผลการเปรียบเทียบผลการดาเนินงานที่
                    เกี่ยวข้องกับผลิตภัณฑ์ในตลาดทุนในอดีต
                    มิได้เป็นเครื่องยืนยันถึงผลการดาเนินงานในอนาคตหรือที่อาจเกิดขึ้นในอนาคต
                    และอาจมี
                    กรณีที่ผลการดาเนินงานเป็นไปอย่างผิดความคาดหมายเนื่องจากเหตุการณ์หรือปัจจัยต่างๆ
                    ที่ไม่เป็นปกติได้ การลงทุนในหน่วย ลงทุนมิใช่การฝากเงิน
                    และไม่ถือว่าบริษัทจัดการ และ/หรือ
                    บริษัทในเครือหรือผู้ดาเนินการขายของบริษัทจัดการได้รับประกันการ
                    ลงทุนให้แก่ผู้ลงทุนแต่อย่างใด นอกจากนั้น การลงทุนมีความเสี่ยง
                    ไม่ว่าจะเป็นความเสี่ยงจากการลงทุน ความเสี่ยงจากอัตรา แลกเปลี่ยน
                    หรือความเสี่ยงอื่นๆ ดังนั้น
                    ผู้ลงทุนอาจได้รับเงินลงทุนคืนมากกว่าหรือน้อยกว่าเงินลงทุนเริ่มแรก
                    หรือไม่ได้รับเงินลงทุน คืนเลยก็ได้
                    ผู้ลงทุนควรศึกษาข้อมูลในหนังสือชี้ชวนของกองทุน คาเตือน
                    และเอกสารที่เกี่ยวข้องก่อนทาการสั่งซื้อหน่วยลงทุน และ
                    ในการทาธุรกรรมต่างๆ
                    เพื่อหน่วยลงทุนนั้นจะต้องทาตามรูปแบบและวิธีการที่ระบุไว้ในหนังสือชี้ชวนสาหรับนักลงทุนที่ต้องการทราบ
                    ข้อมูลหรือรายละเอียดเพิ่มเติม
                    สามารถติดต่อบริษัทจัดการหรือผู้ดาเนินการขายที่ท่านใช้บริการ
                    บริษัทจัดการขอสงวนสิทธิ์ในข้อมูล
                    ที่ปรากฏในเอกสารนี้โดยห้ามมิให้ผู้ใดเผยแพร่ ทาซ้า ดัดแปลง
                    ลอกเลียนแบบ อ้างอิง ไม่ว่าทั้งหมดหรือบางส่วน หรือใช้วิธีการใดก็
                    ตามเว้นแต่จะได้รับอนุญาตล่วงหน้าจากบริษัทจัดการเป็นลายลักษณ์อักษรก่อน
                    นอกจากนั้น บริษัทจัดการขอสงวนสิทธิ์ที่จะทาการ แก้ไข ปรับปรุง
                    เปลี่ยนแปลง หรือเพิ่มเติมข้อความใดๆ
                    ในเอกสารนี้ได้ตามที่บริษัทจัดการจะเห็นสมควร
                </p>
            </div>
            <div class="col-12">
                <div class="row article-information">
                    <div class="col-12">
                        <h3>สอบถามข้อมูลเพิ่มเติม ติดต่อ</h3>
                    </div>
                    <div class="col-12">
                        <h3>บริษัทหลักทรัพย์จัดการกองทุน ยูโอบี (ประเทศไทย) จำกัด</h3>
                    </div>
                    <div class="col-12">
                        <h3>โทรศัพท์ : 0 2786 2222</h3>
                    </div>
                    <div class="col-12">
                        <h3>โทรสาร: 0 2786 2377</h3>
                    </div>
                    <div class="col-12">
                        <h3>อีเมล : thuobamwealthservice@UOBgroup.com</h3>
                    </div>
                    <div class="col-12">
                        <h3>เว็บไซต์ : www.uobam.co.th</h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="article-notice">
                    การลงทุนมีความเสี่ยง ผู้ลงทุนควรทำความเข้าใจลักษณะกองทุน
                    นโยบายกองทุน<br />เงื่อนไขผลตอบแทน ความเสี่ยง
                    และผลการดาเนินงานของกองทุนก่อนตัดสินใจลงทุน
                </div>
            </div>
        </div>
    </div>
</section>